
/*======================================================
YMS STORE
CHECKOUT PAGE
======================================================*/


.checkout-section{

min-height:100vh;

background:#050505;

color:white;

padding:60px 20px;

}



.checkout-container{

width:90%;

max-width:1200px;

margin:auto;

}



.checkout-container h1{

text-align:center;

font-size:35px;

margin-bottom:50px;

color:#d4af37;

}






.checkout-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}





.checkout-card{

background:#111;

padding:30px;

border-radius:20px;

border:1px solid rgba(212,175,55,.25);

}



.checkout-card h2{

margin-bottom:25px;

color:#d4af37;

font-size:22px;

}




.checkout-card p{

margin:15px 0;

color:#ddd;

}



.checkout-card strong{

color:white;

}





/* PRODUITS */

.checkout-product{

display:flex;

align-items:center;

gap:15px;

margin-bottom:20px;

}



.checkout-product img{

width:70px;

height:70px;

object-fit:cover;

border-radius:10px;

}



.checkout-product h4{

font-size:15px;

}



.checkout-product span{

color:#d4af37;

}







/* PAIEMENT */

.checkout-card label{

display:block;

padding:15px;

background:#050505;

border-radius:10px;

margin-bottom:15px;

cursor:pointer;

border:1px solid #333;

}



.checkout-card label:hover{

border-color:#d4af37;

}



.checkout-card input{

margin-right:10px;

}





#confirmOrder{

width:100%;

border:none;

margin-top:25px;

}





/* TOTAL */

#checkoutTotal{

color:#d4af37;

font-size:25px;

}







@media(max-width:900px){


.checkout-grid{

grid-template-columns:1fr;

}


.checkout-container h1{

font-size:26px;

}



}
